In [27]:
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

import random

import matplotlib 
from matplotlib import animation 
from matplotlib.animation import FuncAnimation
from itertools import count

%matplotlib qt

In [28]:

t = pd.read_csv('Data_online_shopping_total.csv', delimiter = ';')
t.head()
m = pd.read_csv('Data_online_shopping_men.csv', delimiter = ';')
w = pd.read_csv('Data_online_shopping_women.csv', delimiter = ';')
t.head()

,Perioden,Totaal online aankopen,Kleding of sportartikelen,Boeken. tijdschriften en kranten,Soft-/ hardware en elektronische benodig,Huishoudelijke goederen en apparaten
0,2012,64.0,31.2,22.9,12.8,15.8
1,2013,68.0,36.7,27.5,16.6,18.2
2,2014,69.7,40.5,28.7,18.3,23.2
3,2015,70.0,42.4,28.2,24.8,23.9
4,2016,73.3,47.9,29.1,26.1,28.6

In [29]:
a = list(t.Perioden)
print(a)

b1 = list(t['Totaal online aankopen'])

print(b1)
plt.plot(a,b1)

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
[64.0, 68.0, 69.7, 70.0, 73.3, 76.3, 77.8, 79.4]

In [30]:


df = pd.read_csv('Stores_country_data.csv',delimiter = ';')

df.head()

,Perioden,1. Kleding of sportartikelen,"2. Boeken, tijdschriften en kranten",3. Soft-/ hardware en elektronische benodig,4. Huishoudelijke goederen en apparaten
0,2012,23840,2280,6320,2535
1,2013,22885,2240,6295,2455
2,2014,21970,2095,5930,2280
3,2015,21770,2040,5950,2185
4,2016,21140,1955,5890,2130

In [31]:
v = list(df.Perioden)
print(v)


w1 = list(df['1. Kleding of sportartikelen']+ df['2. Boeken, tijdschriften en kranten'] + df['3. Soft-/ hardware en elektronische benodig'] + df['4. Huishoudelijke goederen en apparaten'])

print(w1)

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
[34975, 33875, 32275, 31945, 31115, 29670, 29005, 28495]

In [32]:
# plt.plot(a,b1)
plt.plot(a,w1)
# plt.plot(a,b1,w1)



print(a)
print(b1)
print(w1)

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
[64.0, 68.0, 69.7, 70.0, 73.3, 76.3, 77.8, 79.4]
[34975, 33875, 32275, 31945, 31115, 29670, 29005, 28495]

In [33]:

x,y,z=[], [],[]


fig,ax = plt.subplots(nrows=1, ncols=1, figsize=(8, 8))

plt.style.use("ggplot")

ax2=ax.twinx()

ax.set_xlabel('year')

ax.set_ylabel('Physical stores')

ax2.set_ylabel('Online purchases')
ax.set_title(' Relation between online shopping and Physical shops')


def animate(i):

    x.append(a[i])

    y.append((w1[i]))

    z.append(b1[i])




    ax2.plot(x,z,marker='o',color='blue')

    ax.plot(x,y,marker = 'o',color='red')
    


anim = FuncAnimation(fig, animate, interval=100)

In [34]:

x,y,z=[], [],[]


fig,ax = plt.subplots(nrows=1, ncols=1, figsize=(8, 8))

plt.style.use("ggplot")

ax2=ax.twinx()

ax.set_xlabel('year')

ax.set_ylabel('Physical stores')

ax2.set_ylabel('Online purchases')
ax.set_title('Relationship between trend of online shopping and  open Physical stores')


def animate(i):

    x.append(a[i])

    y.append((w1[-i-1]))

    z.append(b1[-i-1])

    


    ax2.plot(x,z, scaley= True , scalex= True ,marker='o',color='blue')

    ax.plot(x,y,scaley =True , scalex= True ,marker='o',color='red')
    


anim = FuncAnimation(fig, animate, interval=300)